{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/logout">Logout</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <!-- /.content-header -->
  {% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div>
        <h2>WELCOME</h2>
        {% if session['hasil1'] %}
        <p>you login as {{ session ['hasil1'] }}</p>
        {% else %}
        <p>Not login yet</p>
        {% endif %}
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% include 'footer.html' %}